*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50px,rgba(0,0,0,0.5)50px, url(1.jpg));
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-color: rgb(48, 128, 197);
}