*{
    margin: 0;
    padding: 0;
    font-family: 'pappins', sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    
}